/* Primary Root */
.root {
    -fx-background-color: #121212;
}

/* Text */
.hero_text {
    -fx-text-fill: #DADEDF;
}

.title {
    -fx-text-fill: #DADEDF;
}

.sub_title1 {
    -fx-text-fill: #DADEDF;
}

.sub_title2 {
    -fx-text-fill: #DADEDF;
}

.sub_title3 {
    -fx-text-fill: #C1C7C9;
}

.sub_text {
    -fx-text-fill: #C1C7C9;
}

.sub_text2 {
    -fx-text-fill: #C1C7C9;
}

.sub_text3 {
    -fx-text-fill: #C1C7C9;
}

/* Table Containers */
.result {
    -fx-background-color: rgba(255, 255, 255, 0.06);
}

.result_selected {
    -fx-background-color: rgba(255, 255, 255, 0.18);
}

.searchBox:focused {
    -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,.4), 10, 0, 0, 0);
}

.cross-line {
    -fx-stroke: #C1C7C9;
}

/* UI Components */
.underline {
    -fx-border-color : #DADEDF;
}

.underline2 {
    -fx-border-color : #DADEDF;
}

.combo-box {
    -fx-background-color: rgba(255, 255, 255, 0.06);
}

.combo-box .list-cell
{
    -fx-background: rgba(255, 255, 255, 0.06);
    -fx-background-color: transparent;
    -fx-text-fill: #C1C7C9;
}

.combo-box-popup .list-view
{
    -fx-background-color: #121212;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: white;
    -fx-text-fill: -fx-text-inner-color;
}

/* Footer */
.searchContainer {
    -fx-background-color: #121212;
}

.footer {
    -fx-background-color: rgba(255, 255, 255, 0.06);
}

/* Buttons */
.confirm_button {
    -fx-background-color: #90EE90;
}

.back_button {
    -fx-background-color: #DADEDF;
}

.cancel_button {
    -fx-background-color: #A26700;
}
