.root {
    -fx-font-family: Arial;
}

.hero_text{
    -fx-font-family: "Arial Black";
    -fx-font-size: 32px;
}

.title {
    -fx-font-size: 28px;
}

.sub_title1 {
    -fx-font-weight: bold;
    -fx-font-size: 22px;
}

.sub_title1_strikethrough .text{
    -fx-strikethrough: true;
}

.sub_title2 {
    -fx-font-size: 16px;
    -fx-font-style: italic;
}

.sub_title3 {
    -fx-font-size: 18px;
}

.sub_text {
    -fx-font-size: 16px;
}

.sub_text2 {
    -fx-font-size: 12px;
}

.sub_text3 {
    -fx-font-size: 12px;
    -fx-font-style: italic;
}

.list-cell {
    -fx-background: transparent ;
    -fx-background-color: transparent, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-table-cell-border-color: derive(-fx-color, 5%);
}

.table {
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-fill: transparent;
    -fx-highlight-fill: transparent;
}

.cross-line {
    -fx-stroke-width: 2px;
}

.button {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;

    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.confirm_button {
    -fx-background-color: green;
    -fx-text-fill: white;
}

.selector {
    -fx-border-radius: 0;
}

.underline {
    -fx-border-width : 0 0 1 0;
}

.underline2 {
    -fx-border-width: 0 0 3 0;
}

.searchBox {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.progress-indicator-percentage .percentage {
    -fx-fill:null;
}

.progress-indicator-percentage  {
    -fx-padding: 0 0 -16 0;
}