/* Primary Root */
#root {
    -fx-background-color: #F5F5F5;
}

/* Text */
.hero_text {
    -fx-text-fill: black;
}

.title {
    -fx-text-fill: black;
}

.sub_title1 {
    -fx-text-fill: black;
}

.sub_title2 {
    -fx-text-fill: black;
}

.sub_text {
    -fx-text-fill: black;
}

.sub_text2 {
    -fx-text-fill: black;
}

.sub_text3 {
    -fx-text-fill: black;
}

/* Table Containers */
.result {
    -fx-background-color: rgba(10, 10, 10, 0.06);
}

.result_selected {
    -fx-background-color: rgba(10, 10, 10, 0.18);
}

.cross-line {
    -fx-stroke: gray;
}

/* UI Components */
.underline {
    -fx-border-color : black;
}

.underline2 {
    -fx-border-color : black;
}

.combo-box .list-cell
{
    -fx-text-fill: black;
}

/* Page Sections */
.searchContainer {
    -fx-background-color: #F5F5F5;
}

.searchBox:focused {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.footer {
    -fx-background-color: rgba(10, 10, 10, 0.12);
}

/* Buttons */
.confirm_button {
    -fx-background-color: green;
}

.back_button {
    -fx-background-color: #C1C7C9;
}

.cancel_button {
    -fx-background-color: orangered;
}