#title {
    -fx-font-family: Arial;
    -fx-font-size: 28px;
}

.list-cell {
    -fx-background: transparent ;
    -fx-background-color: transparent, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-table-cell-border-color: derive(-fx-color, 5%);
}

#resultsView {
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-fill: transparent;
    -fx-highlight-fill: transparent;
}

.resultTitle {
    -fx-font-family: arial;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.resultArtist {
    -fx-font-family: arial;
    -fx-font-size: 16px;
    -fx-font-style: italic;
}

.button {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;

    -fx-text-fill: black;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}