.underline {
    -fx-border-width : 0 0 1 0;
}

.title {
    -fx-font-weight: bold;
    -fx-font-family: Arial;
    -fx-font-size: 22px;
}

.setting {
    -fx-font-family: Arial;
    -fx-font-size: 16px;
}

.confirm_button {
    -fx-background-color: green;
    -fx-text-fill: white;
}

.selector {
    -fx-border-radius: 0;
}