#title {
    -fx-font: 32 arial;
}

#subTitle {
    -fx-font: 28 arial;
}

#subTitle2 {
    -fx-font: 24 arial;
}

#settingsHeader {
    -fx-font: 22 arial;
}

#settingInfo {
    -fx-font: 16 arial;
}

#button {
    -fx-cursor: hand;
}