.root {
    -fx-background-color: #F5F5F5;
}

.resultContainer {
    -fx-background-color: rgba(10, 10, 10, 0.06);
}

.sub_title1 {
    -fx-text-fill: black;
}

.sub_title2 {
    -fx-text-fill: black;
}

.cross-line {
    -fx-stroke: gray;
}