#root {
    -fx-background-color: #F5F5F5;
}

#title {
    -fx-text-fill: black;
}

.resultContainer {
    -fx-background-color: rgba(10, 10, 10, 0.06);
}

.resultTitle {
    -fx-text-fill: black;
}

.resultArtist {
    -fx-text-fill: black;
}

.resultMeta {
    -fx-text-fill: black;
}


#confirm_button {
    -fx-background-color: green;
}

#back_button {
    -fx-background-color: #C1C7C9;
}

#cancel_button {
    -fx-background-color: orangered;
}