.root {
    -fx-background-color: #F5F5F5;
}

.footer {
    -fx-background-color: rgba(10, 10, 10, 0.12);
}

.searchContainer {
    -fx-background-color: #F5F5F5;
}

.hero_text {
    -fx-text-fill: black;
}

.searchBox:focused {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.autocompleteResult {
    -fx-text-fill: black;
}