.root {
    -fx-background-color: #F5F5F5;
}

.settingsContainer {
    -fx-background-color: rgba(10, 10, 10, 0.06);
}

.sub_title1 {
    -fx-text-fill: black;
}

.sub_text {
    -fx-text-fill: black;
}

.underline {
    -fx-border-color : black;
}