.list-cell {
    -fx-background: transparent ;
    -fx-background-color: transparent, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-table-cell-border-color: derive(-fx-color, 5%);
}