.root {
    -fx-background-color: #121212;
}

#title {
    -fx-text-fill: #DADEDF;
}

.subtext {
    -fx-text-fill: #C1C7C9;
}

.resultContainer {
    -fx-background-color: rgba(255, 255, 255, 0.06);
}

.resultTitle {
    -fx-text-fill: #DADEDF;
}

.resultArtist {
    -fx-text-fill: #C1C7C9;
}

