#root {
    -fx-background-color: #121212;
}

#title {
    -fx-text-fill: #DADEDF;
}

.resultContainer {
    -fx-background-color: rgba(255, 255, 255, 0.06);
}

.resultTitle {
    -fx-text-fill: #DADEDF;
}

.resultArtist {
    -fx-text-fill: #C1C7C9;
}

.resultMeta {
    -fx-text-fill: #C1C7C9;
}

.button {

}

#confirm_button {
    -fx-background-color: #90EE90;
}

#back_button {
    -fx-background-color: #DADEDF;
}

#cancel_button {
    -fx-background-color: #A26700;
}
